<!doctype html>
<html lang="en">
  <head>
      {% load bootstrap4 %}
      {% bootstrap_css %}
      {% bootstrap_javascript jquery='full' %}
      {% load crispy_forms_tags %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Member Registration</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register New Member</a>

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Log Out</a>
                    </li>

                  </ul>

            </div>
        </nav>
<h1 class="text-center">Membership Registration</h1>

        <section>
<div class="col-md-6 offset-md-3">
    <form method="POST" enctype="multipart/form-data" action="{% url 'register' %}">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small>
                    <sub>x</sub>
                </small>
            </button>
            <p>Your form has errors</p>
            {% for field in forms %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}

            {% endfor %}
        </div>
        {% endif %}
    {{ form.media }}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.Full_name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.Image|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.Date_of_Birth|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.Gender|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.Marital_Status|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.Date_registered|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.Mobile_Number|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.region|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.Dues_Payment|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.RGD_Registered|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
        {{ form.Tin_number|as_crispy_field }}
      </div>
        <div class="form-group col-md-6 mb-0">
        {{ form.Email|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.member_id|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.Business_Registration_No|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
        {{ form.Operation_Location|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.Home_Address|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.Shop_Name|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.Operation_Mode|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.Principal_Activity|as_crispy_field }}
      </div>
    </div>
    {{ form.Business_Details|as_crispy_field }}



        <input type="submit" value="Register" class="btn btn-lg btn-primary btn-block">
    </form>
</div>
        </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
